.features {
  display: flex;
}
.features__item {
  margin-right: 30px;
  &:last-child {
    margin-right: 0;
  }
}
.features__icon-box {
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 270px;
  height: 120px;
  background-color: $features-color;
}
.features__heading {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: $menu-color;
}
.features__text {
  margin-top: 10px;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: $content-color;
}
