.features {
  @media screen and (min-width: 768px) {
    display: flex;
  }
}
.features__item {
  margin-bottom: 30px;
  &:last-child {
    margin-bottom: 0;
  }
  @media screen and (min-width: 768px) {
    margin-right: 30px;
    &:last-child {
      margin-right: 0;
    }
  }
}
.features__icon-box {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 450px;
  height: 120px;
  margin-bottom: 30px;
  background-color: $features-color;
  @media screen and (min-width: 768px) {
    margin-bottom: 30px;

    width: 270px;
  }
}
.features__heading {
  @media screen and (max-width: 768px) {
    text-align: center;
  }
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: $menu-color;
}
.features__text {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 450px;
  margin-top: 10px;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: $content-color;
}
