.features {
  @media screen and (min-width: $tablet) {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
  @media screen and (min-width: $desktop) {
    flex-wrap: nowrap;
  }
}
.features__item {
  margin-bottom: 30px;
  &:last-child {
    margin-bottom: 0;
  }
  @media screen and (min-width: $tablet) {
    width: calc((100% - 4 * 15px) / 2);
    margin: 15px;
  }
  @media screen and (min-width: $desktop) {
    margin-bottom: 30px;
    &:last-child {
      margin-bottom: 0;
    }
  }
}
.features__icon-box {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 450px;
  height: 120px;
  margin-bottom: 30px;
  background-color: $features-color;
  @media screen and (min-width: $tablet) {
    margin-bottom: 30px;
  }
}
.features__heading {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: $menu-color;
  @media screen and (min-width: $tablet) {
    text-align: start;
  }
}
.features__text {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  text-align: start;
  max-width: 450px;
  margin-top: 10px;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: $content-color;
}
