.header {
  position: relative;
  border-bottom: 1px solid #ececec;
}
.header__container {
  @media screen and (min-width: 768px) {
    display: flex;
  }
  @media screen and (min-width: 1200px) {
  }
}
.header__nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 60px;
  @media screen and (min-width: 768px) {
  }
  @media screen and (min-width: 1200px) {
    min-height: 80px;
  }
}
.header__logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
