.header {
  position: relative;
  border-bottom: 1px solid #ececec;
  @media screen and (min-width: $tablet) {
    display: flex;
    height: 80px;
  }
}
.header__container {
  @media screen and (max-width: $tablet) {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  @media screen and (min-width: $tablet) {
    display: flex;
    align-items: center;
  }
  @media screen and (min-width: $desktop) {
    padding-top: 0;
    padding-bottom: 0;
  }
}
.header__nav {
  display: flex;
  align-items: center;

  @media screen and (max-width: 767.9px) {
    justify-content: space-between;
  }
  @media screen and (min-width: $tablet) {
  }
  @media screen and (min-width: $desktop) {
  }
}
.header__logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
