.team {
  @media screen and (min-width: $tablet) and (max-width: 1199.9px) {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
  @media screen and (min-width: $desktop) {
    display: flex;
    margin-top: 50px;
  }
}
.team__item {
  @media screen and (max-width: 767.9px) {
    margin-bottom: 30px;
    &:last-child {
      margin-bottom: 0;
    }
  }
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;

  @media screen and (min-width: $tablet) and (max-width: 1199.9px) {
    width: calc((100% - 4 * 15px) / 2);
    margin: 15px;
  }
  @media screen and (min-width: $desktop) {
    margin-right: 30px;
    &:last-child {
      margin-right: 0;
    }
  }
}
.team__card {
  padding-top: 30px;
  padding-bottom: 30px;
}
.team__title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}
.team__text {
  margin-top: 10px;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: $content-color;
  margin-bottom: 16px;
}
