body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 1.71;
}
.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}
.container--pos {
  display: flex;
  align-items: baseline;
}
